html, body {
	height: 100%;
	width: 100%;
	margin: 0;
	padding: 0;
}

.presenter-wrapper {
	height: 100%;
	width: 850px;
	margin: 0 auto;
}

.slides {
	width: 800px;
	height: 600px;
	margin: 10px auto;
	border: 2px solid gray;
	border-radius: 5px; 
}

.presenter-nav {
	width: 98px;
	margin: 5px auto;
}

.presenter-nav a {
	display: inline-block;
	margin: 5px 10px;
	padding: 5px 10px;
	background: #cdcdcd;
	border-radius: 50%;
	color: green;
	text-decoration: none;
}