<html>
<body>
    <h1><%= title %></h1>
	<div class="slide-content">
	    <ul>
            <li>css/ - каталог со стилями презентера
                <ul>
                    <li>style.css - основной файл стилей презентера</li>
                </ul>
            </li>
            <li>js/ - каталог с JavaScript файлами
                <ul>
                    <li>lib/ - каталог со сторонними JS библиотеками
                        <ul>
                            <li>backbone-min.js</li>
                            <li>jquery-1.10.2.min.js</li>
                            <li>require.js</li>
                            <li>text.js</li>
                            <li>underscore-min.js</li>
                        </ul>
                    </li>
                    <li>app.js - точка входа</li>
                    <li>presenter.js - модуль презентера</li>
                </ul>
            </li>
            <li>slides/ - каталог со слайдами
                <ul>
                    <li>slides.css - файл со стилями слайдов</li>
                    <li>1.html - шаблон первого слайда</li>
                    <li>1.js - js файл для первого слайда</li>
                    <li>...</li>
                    <li>n.html - шаблон n-го слайда</li>
                    <li>n.js - js файл для n-го слайда</li>
                </ul>
            </li>
            <li>index.html - индексный файл приложения</li>
	    </ul>
	</div>
</body>
</html>