h1 {
    text-align: center;
    vertical-align: middle;
    line-height: 75px;
    background: rgb(173, 209, 173);
    margin: 0;
    height: 75px;
}

h1.title {
	background: none;
	margin-top: 200px;
}

.slide-content {
	height: 100%;
	padding: 10px;
}